.post_wrapper {
	/*width: 100%;*/
	/* height: auto; */
	margin-bottom: 30px;
	/* margin-top: 15px; */
	border: 1px solid gray;
}

.post {
	display: inline;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	/* margin-top: auto;
	margin-bottom: auto; */
}

img {
	max-width: 350px;
	max-height: 90%;
	display: inline-block;
}

.menu {
	text-align: right;
	height: 25px;
}

.menu ul {
	line-height: 25px;
}

.menu li:not(:first-child) {
	padding-left: 15px;
}

ul li {
	list-style: none;
	display: inline;
}

ul li a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: gray;
}

.likes {
	padding-right: 5px;
	text-align: right;
}