.post_wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border: 1px solid gray;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.post {
	/* display: inline; */
	margin-bottom: 10px;
	padding: 5px;
	/* width: 60%; */
	margin-left: auto;
	margin-right: auto;
	/* height: 95%; */
}

img {
	max-width: 100%;
	max-height: 90%;
	display: inline-block;
}

.img img {
	margin-left: auto;
	margin-right: auto;
}

.menu {
	text-align: right;
	height: 25px;
}

.menu ul {
	line-height: 25px;
}

.menu li:not(:first-child) {
	padding-left: 15px;
}

ul li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: gray;
}

.text {
	margin-top: 5px;
}

.post_info {
	margin-top: 5px;
}

.post_info div {
	display: inline-block;
}

.likes {
	padding-right: 5px;
	text-align: right;
	width: 48%;
}

.date {
	padding-left: 5px;
	text-align: left;
	width: 48%;
}

.pages_nav {
	border: 1px dotted gray;
	/* width: auto; */
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 25px;
}

.pages_nav li {
	padding-right: 1px;
	padding-left: 1px;
}

.pages_nav a {
	color: black;
}

.pages_nav a:hover {
	color: gray;
}

.pages_nav .this_page li a{
	/* color: #4A76A8; */
	font-weight: bold;
}