/* меню */
.menu {
	/* text-align: center; */
	line-height: 30px;
	display: inline-block;
	width: 100%;
	/* width:  */
}

.search {
	float: left;
	text-align: center;
	width: 50%;
	line-height: 30px;
}

.sort {
	/* float: right; */
	text-align: center;
	margin-left: auto;
	width: 50%;
	line-height: 30px;
}

.menu ul {
	/* margin-left: auto; */
	
	/* text-align: right; */
	
	line-height: 25px;
}

.menu li:not(:first-child) {
	padding-left: 15px;
}

ul li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: gray;
}


/* посты */
.posts_wrapper {
	/* margin-top: 10px; */
}

.post_wrapper {
	margin-bottom: 30px;
	border: 1px solid gray;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.post {
	margin-bottom: 10px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
	max-height: 90%;
	display: inline-block;
}

.img img {
	margin-left: auto;
	margin-right: auto;
}

.likes {
	padding-right: 5px;
	text-align: right;
}


/* навигация */
.pages_nav {
	border: 1px dotted gray;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 25px;
}

.pages_nav li {
	padding-right: 1px;
	padding-left: 1px;
}

.pages_nav a {
	color: black;
}

.pages_nav a:hover {
	color: gray;
}

.pages_nav .this_page li a{
	font-weight: bold;
}