<!DOCTYPE html>
<html>
<head>
	<title>pastarser</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for ("static", filename="css/index.css") }} ">
</head>
<body>	
	<div class="posts_wrapper">
		{% for post in posts %}
			{% if post.text | length > 0 and post.marked_as_ads == 0 %}
				<post class="post_wrapper">
					<div class="post">
						{% if post.text | length > 180 %}
							{{ post.text[:180]}}
							<br>
							<a href="">&gt;&gt;&gt;</a>
						{% else %}
							{{ post.text }}
						{% endif %}
						{% if "attachments" in post.keys() %}
							{% for attachment in post.attachments %}
						    	{% if attachment.type == "photo" %}
						    		<div class="img">
						    			<img src="{{ attachment.photo.sizes[-1].url }}"></a>
						    		</div>						
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</post>
				
			{% endif %}
		{% endfor %}
	</div>
</body>
</html>