{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for ("static", filename="css/index.css") }} ">
{% endblock %}

{% block head_scripts %}
	<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			namespace = "/posts";

			var sio = io.connect(location.protocol + "//" + document.domain + ":" + location.port + namespace);

			sio.on("check_posts", function(msg) {
				if (!Notification.permission == "granted") {
					Notification.requestPermission();
				}

				else {
					var notification = new Notification("new post");
				};
			});

		});
	</script>
{% endblock %}

{% block content %}
	<div class="menu_wrapper">
		<div class="menu">
			<div class="search">
				<form method="POST">
					{{ form.hidden_tag() }}
					{{form.text_field()}} {{form.submit()}}
				</form>
			</div>
			<div class="sort">
				<ul>					
					<li>
						<a href="{{ url_for("sort_by_relevance", page=page) }}">sort by relevance</a>
					</li>
					
					<li>
						<a href="{{ url_for("index", page=page) }}">sort by new</a>
					</li>
					
				</ul>
			</div>
		</div>	
	</div>

	<div class="posts_wrapper">
		<!-- {% if count %}
			<div class="count_info">
				Найдено {{ count }} паст. Показываю только первые {{ posts | length}}.
			</div>
		{% endif %} -->

		{% if posts | length > 0 %}
			{% for post in posts %}
				{% if post.text | length > 300 and post.marked_as_ads == 0 and post.is_pinned != 1 %}
					<div class="post_wrapper">
						<div class="post">
							{% if "attachments" in post.keys() %}
								{% for attachment in post.attachments %}
									{% if attachment.type == "photo" %}
										<div class="img">
											<img src="{{ attachment.photo.sizes[-1].url }}"></a>
										</div>						
									{% endif %}
								{% endfor %}
							{% endif %}
							
							<div class="text">
								{% if post.text | length > 180 %}
									{{ post.text[:180]}}... 
									<a href="{{ url_for("post", id=post.id) }}"> <strong>&gt;&gt;&gt;</strong></a>
								{% else %}
									{{ post.text }}
								{% endif %}
							</div>
							
							<br>
							
							<div class="post_info">
								<div class="date">
									{{ post.date|datetime }}	
								</div>
		
								<div class="likes">
									likes: {{ post.likes.count }}
								</div>
							</div>
						</div>
					</div>				
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="text">
				Паст не найдено :c
			</div>
		{% endif %}
	</div>
	
	{% if not search %}
		<div class="pages_nav">		
			<ul>
				{% if page != 0 %}
					<li>
						{% if page == 0 %}
							<span class="this_page">
								<a href="{{ url_for("index", page=0) }}">0</a>
							</span>
						{% else %}
							<a href="{{ url_for("index", page=0) }}">0</a>
						{% endif %}
					</li>

					{% if page > 1 %}
						<li> <a href="">...</a> </li>
					{% endif %}
				{% endif %}


				{% for n_page in range(9) %}
					{% if page == n_page + page  %}
							<span class="this_page">
								<li><a href="{{ url_for("index", page=page+n_page) }}">{{ page+n_page }}</a></li>
							</span>
					{% else %}
						<li><a href="{{ url_for("index", page=page+n_page) }}">{{ n_page + page }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}